h2{
    text-align: start;
    margin: 5px;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}
.subtitle{
    font-size: 20px;
    margin: 20px;
    text-align: center;
}

span{
    font-weight: bold;
}

button {
    width: 190px;
    padding: 5px;
    margin: 10px auto; 
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: bold;
    display: block; /* Faz o botão ocupar a largura total do contêiner pai */
}
